@using BaoKhoe.Models
@{
  Article article = ViewBag.Article;
  ViewBag.Title = article.Title;
  List<Article> hotArticles = ViewBag.HotArticles == null ? new List<Article>() : ViewBag.HotArticles;
}

<div class="bg_top grid1000 poslide">
  <div id='div-gpt-ad-1478165578373-23' class="qcao">
    <a href="#"><img alt="" src="../../../assets/pic/qc1.png" /></a>
  </div>
</div>

<div class="pkg grid1000">
  <div class="col660 fl">
    <div class="box-breadcrumbs">
      <ul id="breadcrumbs" class="breadcrumbs mar15 mar_bottom15 mar_top15 inline-align">
        <li class="item-home">
          <a class="bread-link bread-home" href="/" title="Trang chủ">Trang chủ</a>
        </li>
        <li class="separator arr_bread separator-home"> &nbsp; </li>
        <li class="item-cat">
          <a href="/@article.Category.Url">@article.Category.Name</a>
        </li>
      </ul>
    </div>
    <article>
      <meta itemprop="headline" content="@article.Headlines" />
      <meta itemprop="datePublished" content="@(article.CreatedAt.ToString(" s"))">
      <meta itemprop="dateModified" content="@(article.CreatedAt.ToString(" s"))">
      <div itemprop="publisher" itemscope itemtype="https://schema.org/Organization">
        <div itemprop="logo" itemscope itemtype="https://schema.org/ImageObject">
          <meta itemprop="url" content="/data/themes/saostarv4/assets/images/logo.png">
          <meta itemprop="width" content="248">
          <meta itemprop="height" content="60">
        </div>
        <meta itemprop="name" content="Saostar">
      </div>
      <div itemprop="image" itemscope itemtype="https://schema.org/ImageObject">
        <meta itemprop="url" content="https://img.saostar.vn/2017/05/10/1276879/170510starnp-ava.jpg" />
        <meta itemprop="width" content="696">
        <meta itemprop="height" content="392">
      </div>
      <header>
        <h1 class="title_detail_news">
          @article.Title
        </h1>
        <div class="time_detail_news">
          <a href="/@article.Category.Url" class="tag_cate fontOPB">
            <span itemprop="articleSection">@article.Category.Name</span>
          </a>
          <span class="cl999 fontOPSB">
            - <time class="time-ago" datetime="@(article.CreatedAt.ToString(" s"))">
              @article.GetDisplayTime()
            </time>
          </span>
        </div>
        <div class="share_detail">
          <ul>
            <li><div class="fb-send" data-href="@("/" + article.Category.Url + "/" + article.FriendlyTitle)"></div></li>
            <li>
              <div class="fb-like" data-href="@("/" + article.Category.Url + "/" + article.FriendlyTitle)" data-layout="button_count" data-action="like" data-share="true" data-show-faces="false"></div>
            </li>
          </ul>
        </div>
      </header>

      <div class="sapo_detail"><h2 itemprop="description">@article.Headlines</h2></div>
      <div itemprop="articleBody" id="content_detail">
        @Html.Raw(article.Content)
      </div>
      <div class="article_footer clearfix">
        <div class="share_detail no-border no-padding fl">
          <ul>
            <li><div class="fb-send" data-href="@("/" + article.Category.Url + "/" + article.FriendlyTitle)"></div></li>
            <li>
              <div class="fb-like" data-href="@("/" + article.Category.Url + "/" + article.FriendlyTitle)" data-layout="button_count" data-action="like" data-share="true" data-show-faces="false"></div>
            </li>
          </ul>
        </div>
        @if (!string.IsNullOrEmpty(article.AuthorAlias))
        {
          <div class="people_write" itemprop="author" itemscope itemtype="https://schema.org/Person">
            <span itemprop="name" class="icon_author">@article.AuthorAlias</span>
          </div>
        }
      </div>
      <div class="news_relation">
        <div class="title_cate_home mar_bottom20">TIN LIÊN QUAN</div>
        <div class="pkg">
          <section>
            <ul class="list_news_three pkg">
              @foreach (Article articleRelatedArticle in article.RelatedArticles)
              {
                <li>
                  <a href="/@articleRelatedArticle.Category.Url/@articleRelatedArticle.FriendlyTitle"
                     class="thumb16x9">
                    <img style="background: #ececec"
                         src="@articleRelatedArticle.Thumbnail"
                         class="unload-image"
                         title="@articleRelatedArticle.Title">
                  </a>
                  <h2 class="title_list_news_three">
                    <a href="/@articleRelatedArticle.Category.Url/@articleRelatedArticle.FriendlyTitle">
                      @articleRelatedArticle.Title
                    </a>
                  </h2>
                </li>
              }
            </ul>
          </section>
        </div>
      </div>
      <div class="tag_detail mar_bottom20">
        <div class="tag_trend pkg">
          <div class="fontOPSB mar_bottom15 f16"><span>TỪ KHOÁ</span></div>
          <div class="trending list_tag_trend fl">
            @for (int i = 0; i < article.ListKeywords.Count; i++)
            {
              <h4 itemprop="keywords">
                <a href="/tag/@article.ListKeywords[i].FriendlyTitle/">
                  <span>#</span>
                  @article.ListKeywords[i].Title
                </a>
              </h4>
            }
          </div>
        </div>
      </div>

    </article>
  </div>

  @Html.Partial("~/Views/Shared/_RightList.cshtml", hotArticles)

</div>

<div class="detail-index-partial" id="index-partial">
  @Html.Partial("~/Views/Shared/_LoadingLines.cshtml")
</div>

<div class="pkg grid1000 mar_bottom30 mar_top30">
  <div class="bannerhome ">
    <div id='div-gpt-ad-1478165578373-4' class="qcao" style='width:1000px;'>
      <a href="#"><img alt="" src="../../../assets/pic/qc7.png" /></a>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function () {
    getDetailIndexPartial('@article.Category.Url/@article.FriendlyTitle');
  });
</script>
